@font-face {
   font-family: 'Cambria';
   font-display: swap;
   src: url('file:///Users/kayaantharani/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-10-31_184109/fonts/Cambria/font.ttf');
}
